body {
    background-color: beige;
  }
  
  .table th,
  .table td {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
  }
  
  .table th {
    background-color: #d9ff30;
  }
  
  .table td {
    background-color: #ffffff;
    font-size: 18px;

  }
  
  .table-responsive {
    overflow-x: auto;
  }
 
  .custom-table {
    border-width: 2px;
    border-color: black;
  }

  .btn-primary {
    background-color: #3300ff;
    border-width: 3px;
    font-weight: bold;
  }